body {
    font-family: arial, sans-serif;
    font-size: 14px;
}


/* Top nav bar using flex--------------- */

#navbar {
    display: flex;
    justify-content: space-between;    
}

#navbar a{
    color: black;
    display: inline-block;
    margin-top: 14px;
}

 /* Flex for right nav bar for apps icon and sign in button--------------- */
#right-navbar {            
    display: flex;
}

.left-nav-link {
    margin-left: 20px;
}

.right-nav-link {  
    margin-right: 15px;
}


/* Apps icon--------------- */
#apps-icon-bg { 
    padding: 10px;
    border-radius: 100px;
    margin-right: 10px;
}

#apps-icon {
    display: block;
    height: 20px;
    width: 20px;
    margin: auto;
}

#apps-icon-bg:hover {
    background-color: rgb(233, 233, 233);
}


/* Sign in button--------------- */
.sign-in {
    color: white;
    background-color:#2b7de9;
    border-radius: 4px;
    border-style: none;
    padding: 10px 28px;
    margin-right: 10px;
    text-align: center;
    font-size: 14px;
}

.sign-in:hover {
    background-color: #2d88ff;
}

.sign-in:active {
    background-color: #65a8ff;
    border: none;
}

.sign-in:focus {
    outline: none;
}



/* Logo--------------- */
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 215px;    
}


/* Search bar--------------- */
#search {
    margin-top: 30px;
    text-align: center;
}

input {
    height: 44px;
    width: 525px;
    border: 1px solid #dfe1e5;
    border-radius: 100px;
    background-color: white;
    background-image: url('images/search.png');
    background-position: 13px 16px;
    background-repeat: no-repeat;
    padding-left: 45px;
    font-size: 16px;
}

input:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

input:focus {
    outline: none;
}



/* Search buttons--------------- */
#search-buttons {
    margin-top: 30px;
    text-align: center;
}

.buttons {
    background-color:#f2f2f2;
    color: black; ;
    padding: 10px 0px;
    width: 120px;
    text-align: center;
    white-space: nowrap;
    margin: 0px 5px;
    border-radius: 5px;
    border: 1px solid;
    border-color:transparent;
}

.buttons:hover {
    border: 1px solid;
    border-color: rgb(172, 172, 172);
}

.buttons:active {
    border: 1px solid;
    border-color: blue;
}

/* Different styling for links in the bottom--------------- */
#footer a {
    display: inline-block;
    color: #5f6368; 
    padding-top: 10px;
}

a:link{   
    text-decoration: none;    
}


a:visited {
    text-decoration: none;    
}
  

a:hover {
    text-decoration: underline;
}
  

a:active {
    text-decoration: none;
}



/* Bot nav bar using flex--------------- */

#footer {
    display:flex;
    background-color: #f2f2f2;
    width: 100%;
    height: 40px;
    margin-left: -10px;
    bottom: 0;
    position: fixed;
    justify-content: space-between;
}


.left-foot-link {
    padding-left: 30px;
}

.right-foot-link {
    padding-right: 30px;
}
